
module pam-rauthy-local 1.0;

require {
	type etc_t;
	type home_root_t;
	type local_login_t;
	type unconfined_service_t;
	type unlabeled_t;
	type useradd_exec_t;
	type var_lib_t;
	type var_run_t;

	class dir { create search setattr };
	class file { create execute execute_no_trans getattr open read setattr write };
	class tcp_socket name_connect;

	class sock_file write;
	class unix_stream_socket connectto;

}

#============= local_login_t ==============
allow local_login_t etc_t:file setattr;
allow local_login_t home_root_t:dir setattr;

allow local_login_t unlabeled_t:dir search;
allow local_login_t useradd_exec_t:file { execute execute_no_trans };

allow local_login_t var_lib_t:dir { create setattr };
allow local_login_t var_lib_t:file { create getattr open read write };

allow local_login_t var_run_t:sock_file write;
allow local_login_t unconfined_service_t:unix_stream_socket connectto;
