module rauthy-pam-desktop 1.0;

require {
	type config_home_t;
	type devlog_t;
	type etc_t;
	type home_root_t;
	type http_port_t;
	type NetworkManager_t;
	type rauthy_etc_t;
	type rauthy_var_lib_t;
	type rauthy_var_run_t;
	type systemd_user_runtimedir_t;
	type unconfined_service_t;
	type user_home_dir_t;
	type var_run_t;
	type var_lib_t;
	type xdm_t;

	class dir { add_name create getattr read relabelfrom relabelto remove_name rmdir search setattr write };
	class file { getattr open read setattr unlink write };
	class lnk_file read;
	class sock_file write;
	class tcp_socket name_connect;
	class unix_stream_socket connectto;
}

#============= NetworkManager_t ==============
allow NetworkManager_t rauthy_etc_t:file setattr;
allow NetworkManager_t rauthy_var_lib_t:dir setattr;

allow NetworkManager_t rauthy_var_run_t:dir search;
allow NetworkManager_t rauthy_var_run_t:sock_file write;
allow NetworkManager_t unconfined_service_t:unix_stream_socket connectto;

#============= systemd_user_runtimedir_t ==============
allow systemd_user_runtimedir_t config_home_t:dir { read remove_name rmdir write };
allow systemd_user_runtimedir_t config_home_t:file unlink;
allow systemd_user_runtimedir_t etc_t:file setattr;
allow systemd_user_runtimedir_t http_port_t:tcp_socket name_connect;

allow systemd_user_runtimedir_t devlog_t:lnk_file read;
allow systemd_user_runtimedir_t devlog_t:sock_file write;

allow systemd_user_runtimedir_t rauthy_var_run_t:dir search;
allow systemd_user_runtimedir_t rauthy_var_run_t:sock_file write;
allow systemd_user_runtimedir_t unconfined_service_t:unix_stream_socket connectto;

#============= xdm_t ==============
allow xdm_t rauthy_etc_t:dir search;
allow xdm_t rauthy_etc_t:file { getattr open read setattr };
allow xdm_t rauthy_var_lib_t:dir { getattr search };
allow xdm_t rauthy_var_lib_t:file { getattr open read write };
allow xdm_t home_root_t:dir { add_name create };

allow xdm_t home_root_t:dir relabelfrom;
allow xdm_t user_home_dir_t:dir relabelto;

allow xdm_t rauthy_var_run_t:dir search;
allow xdm_t rauthy_var_run_t:sock_file write;
allow xdm_t unconfined_service_t:unix_stream_socket connectto;
