
module pam-rauthy-ssh 1.0;

require {
	type etc_t;
    type http_port_t;
    type init_t;
	type mozilla_home_t;
	type passwd_file_t;
	type useradd_exec_t;
	type user_home_t;
	type user_home_dir_t;
	type shadow_t;
	type sshd_t;
	type unconfined_t;
	type unlabeled_t;
	type var_lib_t;

	class dir { add_name create read search setattr write };
	class file { create link map open read rename getattr setattr unlink write execute execute_no_trans };
	class tcp_socket name_connect;
}

# TCP connections to Rauthy
allow sshd_t http_port_t:tcp_socket name_connect;

# search for config files
allow sshd_t unlabeled_t:dir search;

# dynamically add / modify users
allow sshd_t useradd_exec_t:file { execute execute_no_trans map };
allow sshd_t etc_t:file { create link rename setattr unlink write };
allow sshd_t passwd_file_t:file { create open map rename setattr unlink write };
allow sshd_t shadow_t:file { create open read map rename getattr setattr unlink write };

# create home dir
allow sshd_t mozilla_home_t:dir { add_name create read setattr write };
allow sshd_t user_home_dir_t:dir { create setattr };
allow sshd_t user_home_t:file { create open setattr write };

# access to /var/lib/ for persisting tokens
allow sshd_t var_lib_t:dir { create setattr };
allow sshd_t var_lib_t:file { create getattr open read write };

# systemd needs to be allowed to access pam_rauthy config
allow init_t etc_t:file setattr;
allow init_t http_port_t:tcp_socket name_connect;
