
module pam-rauthy-nss 1.0;

require {
	type init_t;
	type http_cache_port_t;
	class tcp_socket name_connect;
}

# allows non-superusers to retrieve NSS information via tools like `getent`
allow init_t http_cache_port_t:tcp_socket name_connect;
