
module pam-rauthy-ssh 1.0;

require {
	type etc_t;
    type home_root_t;
    type http_port_t;
	type sshd_t;
	type unlabeled_t;
	type var_lib_t;

	class dir { setattr };
	class file { setattr getattr open read write };
	class tcp_socket name_connect;
}

#============= sshd_t ==============
allow sshd_t etc_t:file setattr;
allow sshd_t home_root_t:dir setattr;
allow sshd_t unlabeled_t:file read;
allow sshd_t var_lib_t:dir setattr;
allow sshd_t var_lib_t:file { getattr open read write };